/* General properties */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Game items */

.gameplay {
    margin: 1em;
}

.header {
    width: 100%;
}

h1 {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.weapons {
    display: flex;
    flex-direction: row;
    font-size: 3em;
}

.btn {
    margin: 1em;
    cursor: pointer;
}

.btn img {
    width: 3em;
    height: 3em;
    transition: transform .3s ease-in-out;
}

.btn img:hover {
    transform: rotate(360deg) scale(1.7);
}

/* Computer result */

.compPlay {
    font-size: 2em;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.compPlayResult {
    margin-left: 1em;
}

/* Score Table */

.scoresheet {
    width: 23em;
}

.score {
    width: 100%;
}

.resultLine, .my_score, .comp_score {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: .5em 0;
    font-size: 1.1em;
}

/* End game screen */

.visible {
    width: 100vw;
    height: 100vh;
    background-color: hotpink;
    color: khaki;
    z-index: 1;
    position: fixed;
    font-size: 10em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease-in-out;
    transform: scale(1.5);
}